## Enraged Rabbit : Carrot Feeder config file for ERCF EASY BRD v1.1

# This config sample assume you set the two J6 jumpers on 1-2 and 4-5, i.e. [..].[..]

[mcu ercf]
serial: /dev/serial/by-id/usb-Klipper_samd21g18a_B2D7B2694C57535020312E34221E01FF-if00

# Carrot Feeder 5mm D-cut shaft
[manual_stepper gear_stepper]
step_pin: ercf:PA4
dir_pin: ercf:PA10
enable_pin: !ercf:PA2
step_distance: 0.001771
velocity: 35
accel: 150
endstop_pin: ^ercf:PA7

[tmc2209 manual_stepper gear_stepper]
# Adapt accordingly to your setup and desires
# The default values are tested with the BOM NEMA14 motor
uart_pin: ercf:PA8
uart_address: 0
microsteps: 16
interpolate: True
run_current: 0.4
hold_current: 0.1
sense_resistor: 0.110
stealthchop_threshold: 500

[manual_stepper selector_stepper]
step_pin: ercf:PA9
dir_pin: ercf:PB8
enable_pin: !ercf:PA11
step_distance: 0.0125
velocity: 200
accel: 600
endstop_pin: ^!ercf:PB9

[tmc2209 manual_stepper selector_stepper]
uart_pin: ercf:PA8
uart_address: 1
microsteps: 16
run_current: 0.55
hold_current: 0.4
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 5000

# Values are for the MG90S servo
[servo ercf_servo]
pin: ercf:PA5
maximum_servo_angle: 180
minimum_pulse_width: 0.00085
maximum_pulse_width: 0.00215

[duplicate_pin_override]
pins: ercf:PA6
# Put there the pin used by the encoder and the filament_motion_sensor
# It has to be the same pin for those 3

[filament_motion_sensor encoder_sensor]
switch_pin: ^ercf:PA6
pause_on_runout: False
detection_length: 3.0
extruder: extruder
# runout_gcode: ERCF_ENCODER_MOTION_ISSUE

[filament_switch_sensor toolhead_sensor]
pause_on_runout: False
# filament sensor wired to the printer MCU
switch_pin: ^P1.27
